<%= form_for(@quiz) do |f| %>
  <% if @quiz.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <div id="error_explanation">
      <h2><%= pluralize(@quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
      <% @quiz.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  </div>
  <% end %>

  <div class="input-group">
      <%= f.label :name, class: "input-group-addon sizing-addon-md" %>
      <%= f.text_field :name, class: "form-control" %>
  </div>

  <h2>Now add some Questions</h2>

  <%= f.fields_for :questions do |question| %>
    <div class="input-group margin">
      <%= question.label :content, class: "input-group-addon" %>
      <%= question.text_area :content, class: "form-control", rows: "3" %>
    </div>
  <% end %>

  <%= f.submit class: "link-to btn btn-success right"%>
<% end %>
