<div class="alert alert-success" role="alert">
  <p id="notice"><%= notice %></p>
</div>

<h2>
  <strong>Quiz name:</strong>
  <%= @quiz.name %>
</h2>

<% if @quiz.questions.any? %>
  <h4>Listing questions: </h4>
    <% @quiz.questions.each do |question| %>
    <ul class="list-group">
      <li class="list-group-item">
      <%= question.content %>
      </li>
    </ul>
    <% end %>
<% else %>
<div class="alert alert-danger" role="alert">
  <p>There is no any questions in this quiz yet</p>
</div>
<% end %>

<div class="left">
  <%= link_to 'Edit', edit_quiz_path(@quiz), class: "link-to btn btn-success" %>
  <%= link_to 'Back', quizzes_path, class: "btn btn-danger"%>
</div>
