<h2>Interview in progress...</h2>
<%#= render 'form' %>
<%= form_for([@quiz, @answer]) do |f| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <p>Question #<%= current_question.id %>: <%= current_question.content %><br></p>
  </div>
  <div class="field">
    <%= f.label :video_token %><br>
    <%= f.text_field :video_token %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', quiz_answers_path(@quiz) %>
